[pull]
	rebase = true
	default = current
[fetch]
	prune = true
[push]
	default = current
[user]
	name = Benjamin Swanepoel
	email = 49689582+superbrobenji@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519
[core]
	autocrlf = false
	filemode = false
[gpg]
	format = ssh
[commit]
	gpgsign = true

[includeIf "gitdir:~/projects/personal/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/projects/work/"]
	path = ~/.gitconfig-work

# ~/.gitconfig-personal template:
# [user]
#     email = 49689582+superbrobenji@users.noreply.github.com
#     signingkey = ~/.ssh/id_ed25519

# ~/.gitconfig-work template:
# [user]
#     email = [WORK EMAIL]
#     signingkey = ~/.ssh/id_ed25519_work
